body{
    background-image: linear-gradient(45deg,green,lime,green);
}


/* DIVS*/

#table{
    width: 600px;
    height: 600px;
    background-color: white;
    position: absolute;
    left: 34%;
    top: 50px;
    display: none;
}
#card{
    background-color: red;
   
    position: absolute;
    width: 100%;
    height: 40%;
    top:0%;
}
#plCard{
    background-color: greenyellow;
    align-items: center;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 60%;
}




/*start menu*/
#setGame{
    width: 500px;
    height: 500px;
    background-image: linear-gradient(50deg,green,rgb(49, 255, 84),green);
    position: absolute;
    left: 34%;
    top: 50px;
    display: block;

}

#play{
    position: absolute;
    
    height: 40px;
    width: 130px;
    left: 35%;
    border-radius: 30px;
    top: 30%;

}
#setGame #betValue{
    position: absolute;
    font-size: 19px;
 
    left: 35%;
 
    top: 37%;
}
#bets{

position: absolute;

width: 100%;
height: 200px;
left: 25%;
bottom: 10%;
}
#bets button{
    margin-left: 10px;
    width: 50px ;
    height: 50px;
    border-radius: 70%;
}
